.banner-pet {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-pet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
  }

  .title-pet{
    margin-bottom: 50px;
    font-size: 30px;

  }